@import (reference) "vars";

.custom-chart {
  width: 900px;
  height: 300px;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background: @color__moderateGreen;

  &--responsive {
    min-width: 900px;
    min-height: 300px;
    width: 100%;
    height: 100%;
  }

  &__overlay {
    fill: transparent;
  }

  &__container {
    &:not(.hover) {
      .custom-chart__hovers {
        display: none;
      }
    }
  }

  path,
  line {
    stroke: @color__white;
  }

  text,
  circle {
    fill: @color__white;
  }

  &__axis {
    path,
    line {
      stroke: fade(@color__white, 50%);
    }
  }

  &__line {
    fill: none;
  }
}
