@import (reference) "vars";

.resp-toggle {
  padding: 0 15px;

  color: @color__white;
  font-size: 18px;
  line-height: 44px;
  text-align: center;

  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 1;

  background: @color__lightBlue;
  border-radius: 3px;
  opacity: .66;

  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}
